# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
blockfrost.id
.env
payment.vkey
payment.skey
payment.addr
minting-script.plutus
validator.plutus
initial-datum.json
initial-redeemer.json
mempty-datum.json